#jumbotron{
    background: linear-gradient(to right, #034b72, #8ecfeb, #034b72);
    height: 180px;
    border-radius: 20px;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Tabset {
    position: absolute;
    top: 136px;
    margin-left: 30px;
}

#Tabset>li.active>a,
#Tabset>li.active>a:focus {
  /* border-top: 4px solid rgb(134, 197, 255); */
  border-top: 4px solid rgb(182, 189, 189);
}

#Tabset>li>a {
    background-color: #ffffff;
    color: rgb(56, 56, 56);
}

#seleccion{
    background: #e5f0f18d;
    border-radius: 10px;
}

#footer {
    display:flex;
    border-radius: 20px;
    align-items:center;
    background: linear-gradient(to right, #8ecfeb, #034b72, #8ecfeb);
    font-size: 15px;
    color: #fdfdfd;
    border-bottom: 1px solid #ddd;
    width:100%;
    position: relative;
    /* clear: both; */
    left: 10;
    right: 10;
    bottom: 0; 
    margin-top: 2%;
}

#autores {
    display:flex;
    justify-content: flex-end;
    align-items:right;
    flex-direction: row;
}


/* CELULAR */

@media only screen and (max-width: 768px) {

    #footer {
        display:flex;
        flex-flow: column wrap;
        border-radius: 20px;
        align-items:center;
        background: linear-gradient(to right, #8ecfeb, #034b72, #8ecfeb);
        font-size: 15px;
        color: #fdfdfd;
        border-bottom: 1px solid #ddd;
        width:100%;
        position: relative;
        /* clear: both; */
        left: 10;
        right: 10;
        bottom: 0; 
    }

    #autores {
        display:flex;
        justify-content: flex-end;
        flex-direction: right;
        margin-top: 50px;
        margin-left: 10px;
    }

}    